<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.assistemas.urnaeletronica"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >

        <activity
            android:name=".UrnaEletronicaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroDeputadoEstadual"
            android:label="Deputado Estadual" >
        </activity>
        <activity
            android:name=".EditarDeputadoEstadual"
            android:label="Adicionar/Alterar Deputado Estadual" >
        </activity>
        <activity
            android:name=".BuscarDeputadoEstadual"
            android:label="Buscar Deputado Estadual" >
        </activity>
        
        <activity
            android:name=".CadastroDeputadoFederal"
            android:label="Deputado Federal" >
        </activity>
        <activity
            android:name=".EditarDeputadoFederal"
            android:label="Adicionar/Alterar Deputado Federal" >
        </activity>
        <activity
            android:name=".BuscarDeputadoFederal"
            android:label="Buscar Deputado Federal" >
        </activity>
        
        <activity
            android:name=".CadastroSenador"
            android:label="Senador" >
        </activity>
        <activity
            android:name=".EditarSenador"
            android:label="Adicionar/Alterar Senador" >
        </activity>
        <activity
            android:name=".BuscarSenador"
            android:label="Buscar Senador" >
        </activity>
        
        <activity
            android:name=".CadastroPresidente"
            android:label="Presidente" >
        </activity>
        <activity
            android:name=".EditarPresidente"
            android:label="Adicionar/Alterar Presidente" >
        </activity>
        <activity
            android:name=".BuscarPresidente"
            android:label="Buscar Presidente" >
        </activity>
        
        
        <activity
            android:name=".CadastroPartidos"
            android:label="Partidos" >
        </activity>
        <activity
            android:name=".EditarPartidos"
            android:label="Adicionar/Alterar Partido" >
        </activity>
        <activity
            android:name=".BuscarPartidos"
            android:label="Buscar Partidos" >
        </activity>
        <activity
            android:name=".CadastroGovernador"
            android:label="Governador" >
        </activity>
        <activity
            android:name=".EditarGovernador"
            android:label="Adicionar/Alterar Governador" >
        </activity>
        <activity
            android:name=".BuscarGovernador"
            android:label="Buscar Governador" >
        </activity>
        <activity
            android:name=".Votacao"
            android:label="Votação" >
        </activity>

        <activity
            android:name=".FileDialog"
            android:label="Selecione o Diretório para o Arquivo" >
        </activity>
        <activity
            android:name=".MenuConfiguracoes"
            android:label="@string/title_activity_menu_configuracoes" >
        </activity>
    </application>

</manifest>